<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="shr.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="shr.Perspective"
            id="shr.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="editor.DemoEditor"
            default="false"
            id="editor.DemoEditor"
            name="DemoEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="shr.actionSet1"
            label="Demo"
            visible="true">
         <menu
               id="menu"
               label="Demo">
            <groupMarker
                  name="demogroup">
            </groupMarker>
         </menu>
         <action
               class="actions.DemoAction"
               id="actions.DemoAction"
               label="OpenDemoEditor"
               menubarPath="menu/demogroup"
               style="push">
         </action>
      </actionSet>
   </extension>

</plugin>
