<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/smarthome/logo.ico">
         <run
               class="com.yj.smarthome.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.yj.smarthome.Perspective"
            icon="icons/smarthome/logo.ico"
            id="com.yj.smarthome.Perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="NavigatorView"
            class="com.yj.smarthome.view.NavigatorView"
            id="com.yj.smarthome.view.NavigatorView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         name="Smart Home"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.yj.smarthome.application"
            name="SmartHome0.0.3">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.yj.smarthome.editor.LightControlEditor"
            default="false"
            icon="icons/light/light_editor.ico"
            id="com.yj.smarthome.editor.LightControlEditor"
            name="LightControlEditor">
      </editor>
      <editor
            class="com.yj.smarthome.editor.DoorControlEditor"
            default="false"
            icon="icons/door/door_editor.ico"
            id="com.yj.smarthome.editor.DoorControlEditor"
            name="DoorControlEditor">
      </editor>
      <editor
            class="com.yj.smarthome.editor.ApplianceControlEditor"
            default="false"
            icon="icons/appliance/appliance_editor.ico"
            id="com.yj.smarthome.editor.ApplianceControlEditor"
            name="ApplianceControlEditor">
      </editor>
      <editor
            class="com.yj.smarthome.editor.CameraMonitorEditor"
            default="false"
            icon="icons/camera/camera_editor.ico"
            id="com.yj.smarthome.editor.CameraMonitorEditor"
            name="CameraMonitorEditor">
      </editor>
      <editor
            class="com.yj.smarthome.editor.IpCameraMonitorEditor"
            default="false"
            icon="icons/camera/camera_editor.ico"
            id="com.yj.smarthome.editor.IpCameraMonitorEditor"
            name="IpCameraMonitorEditor">
      </editor>
      <editor
            class="com.yj.smarthome.editor.SceneModeEditor"
            default="false"
            icon="icons/scenemode/scenemode_editor.ico"
            id="com.yj.smarthome.editor.SceneModeEditor"
            name="SceneModeEditor">
      </editor>
      <editor
            class="com.yj.smarthome.editor.SensorControlEditor"
            default="false"
            icon="icons/sensor/sensor_editor.ico"
            id="com.yj.smarthome.editor.SensorControlEditor"
            name="SensorControlEditor">
      </editor>
      <editor
            class="com.yj.smarthome.editor.SecurityControlEditor"
            default="false"
            icon="icons/security/security_editor.ico"
            id="com.yj.smarthome.editor.SecurityControlEditor"
            name="SecurityControlEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.yj.smarthome.actionset"
            label="刷新设备">
         <action
               class="com.yj.smarthome.action.RefreshDeviceAction"
               id="com.yj.smarthome.action.RefreshDeviceAction"
               label="刷新设备"
               style="push"
               tooltip="刷新设备">
         </action>
      </actionSet>
   </extension>

</plugin>
