<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/Home.ico">
         <run
               class="cn.edu.csu.dbhospital.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="cn.edu.csu.dbhospital.Perspective"
            icon="icons/Web.ico"
            id="cn.edu.csu.dbhospital.perspective"
            name="透视图">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cn.edu.csu.dbhospital.editor.DoctorManageEditor"
            default="false"
            icon="icons/User.ico"
            id="cn.edu.csu.dbhospital.editor.DoctorManageEditor"
            name="医生管理">
      </editor>
      <editor
            class="cn.edu.csu.dbhospital.editor.RoomManageEditor"
            default="false"
            icon="icons/Home.ico"
            id="cn.edu.csu.dbhospital.editor.RoomManageEditor"
            name="科室管理">
      </editor>
      <editor
            class="cn.edu.csu.dbhospital.editor.DirectoryManageEditor"
            default="false"
            icon="icons/Bookmark.ico"
            id="cn.edu.csu.dbhospital.editor.DirectoryManageEditor"
            name="字典管理">
      </editor>
      <editor
            class="cn.edu.csu.dbhospital.editor.ArrangementManageEditor"
            default="false"
            icon="icons/Temporary.ico"
            id="cn.edu.csu.dbhospital.editor.ArrangementManageEditor"
            name="排班管理">
      </editor>
      <editor
            class="cn.edu.csu.dbhospital.test.MyEditor"
            default="false"
            icon="icons/Security.ico"
            id="cn.edu.csu.dbhospital.test.MyEditor"
            name="测试表格">
      </editor>
      <editor
            class="cn.edu.csu.dbhospital.editor.WorkerManageEditor"
            default="false"
            icon="icons/User.ico"
            id="cn.edu.csu.dbhospital.editor.WorkerManageEditor"
            name="员工管理">
      </editor>
      <editor
            class="cn.edu.csu.dbhospital.editor.UserManageEditor"
            default="false"
            icon="icons/User.ico"
            id="cn.edu.csu.dbhospital.editor.UserManageEditor"
            name="用户管理">
      </editor>
      <editor
            class="cn.edu.csu.dbhospital.editor.CardManageEditor"
            default="false"
            icon="icons/Mail.ico"
            id="cn.edu.csu.dbhospital.editor.CardManageEditor"
            name="诊疗卡管理">
      </editor>
      <editor
            class="cn.edu.csu.dbhospital.editor.RegisterManageEditor"
            default="false"
            icon="icons/Bookmark.ico"
            id="cn.edu.csu.dbhospital.editor.RegisterManageEditor"
            name="挂号管理">
      </editor>
   </extension>

</plugin>
